<div class="col d-flex justify-content-center">

    <div class="card" alignment="centre" style="width:600px">
        <img class="card-img-top" src="https://imgd-ct.aeplcdn.com/664x415/n/cw/ec/39028/marutisuzuki-vitara-brezza-left-side-view21.jpeg?q=75" alt="Maruti Breeza">
        <div class="card-body">
          <h4 class="card-title">Maruti Breeza</h4>
          <p class="card-text"> Prepare for city adventures with advanced and exciting technology of Hot and Techy Brezza. Advanced K-Series Dual jet and Dual VVT Petrol Engine with Progressive Smart Hybrid Tech.</p>
          <a href="https://www.marutisuzuki.com/brezza" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    


