
<div class="col d-flex justify-content-center">

    <div class="card" alignment="centre" style="width:600px">
        <img class="card-img-top" src="https://imgd.aeplcdn.com/0x0/n/cw/ec/42355/xuv700-exterior-front-view-2.jpeg?isig=0" alt="XUV700">
        <div class="card-body">
          <h4 class="card-title">XUV700</h4>
          <p class="card-text"> Mahindra XUV700 is a 5 seater SUV available in a price range of Rs. 13.45 - 24.95 Lakh*. It is available in 23 variants.</p>
          <a href="https://auto.mahindra.com/suv/xuv700" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    



