<div class="col d-flex justify-content-center">

    <div class="card" alignment="centre" style="width:600px">
        <img class="card-img-top" src="https://marutisuzukiarenaprodcdn.azureedge.net/-/media/images/maruti/marutisuzuki/car/car-profile-shots/ertiga-new/red.webp?rev=ea94d57b25a1489abdc1eebd27fb976e" alt="Maruti Ertiga">
        <div class="card-body">
          <h4 class="card-title">Maruti Ertiga</h4>
          <p class="card-text"> Elegant from every angle, Ertiga is designed to bring out the stylish side of togetherness. The Next-Gen Ertiga is engineered for enhanced refinement with improved fuel efficiency.</p>
          <a href="https://www.marutisuzuki.com/ertiga" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    



