
<div class="col d-flex justify-content-center">

    <div class="card" alignment="centre" style="width:600px">
        <img class="card-img-top" src="https://stimg.cardekho.com/images/carexteriorimages/630x420/Mahindra/Scorpio-N/9174/1656388358334/front-left-side-47.jpg" alt="scorpio">
        <div class="card-body">
          <h4 class="card-title">Scorpio</h4>
          <p class="card-text"> Mahindra Scorpio-N ... Mahindra Scorpio N is a 6 seater SUV available in a price range of ₹ 11.99 - 23.90 Lakh.</p>
          <a href="https://auto.mahindra.com/suv/scorpio" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    



