<div class="col d-flex justify-content-center">

<div class="card" alignment="centre" style="width:700px">
    <img class="card-img-top" src="https://cars.tatamotors.com/images/dark/harrier/harrier-dark-new-02.jpg" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Tata harrier</h4>
      <p class="card-text"> Tata Harrier price starts at ₹ 14.69 Lakh and goes upto ₹ 22.20 Lakh (Avg. ex-showroom).</p>
      <a href="https://cars.tatamotors.com/suv/harrier" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>
