<div class="col d-flex justify-content-center">

    <div class="card" alignment="centre" style="width:600px">
        <img class="card-img-top" src="https://cars.tatamotors.com/images/dark/nexon/m-banner.jpg" alt="Tata-nexon">
        <div class="card-body">
          <h4 class="card-title">Tata nexon</h4>
          <p class="card-text"> The ex-showroom price of Tata Nexon ranges from ₹ 7.54 Lakh to ₹ 13.80 Lakh. Tata Nexon is available in 3 options - petrol, diesel and automatic.</p>
          <a href="https://cars.tatamotors.com/suv/nexon" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    
