<div class="col d-flex justify-content-center">

    <div class="card" alignment="centre" style="width:600px">
        <img class="card-img-top" src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Tata/Punch/7513/1633329515070/front-left-side-47.jpg" alt="Tata-punch">
        <div class="card-body">
          <h4 class="card-title">Tata punch</h4>
          <p class="card-text"> The ex-showroom price of Tata Punch ranges from ₹ 5.82 Lakh to ₹ 9.48 Lakh. Tata Punch is available in 2 options - manual and automatic.</p>
          <a href="https://cars.tatamotors.com/suv/punch" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    

